[Unit]
Description=Read UART data Service
After=network.target

[Service]
Type=simple
ExecStart=/home/suraj/AutomatedFarm-infra/src/read-uart.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
